<nav class="navbar">
  <div class="container">
  <a class="navbar-brand" href="#">
    <img src="./assets/logo.png" width="170" height="100" alt="">
  </a>
  </div>
</nav>

<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let product of products?.products">
      <div class="row">
        <div class="col-xs-2">
         <img src='{{product.image}}' class="product-image">
        </div>
        <div class="col-xs-3 product-description">
          <h5 class="ml-4">{{product.name}}</h5>
        </div>
        <div class="col-xs-3 pl-5">
          <h5>${{product.salePrice}}</h5>
        </div>
      </div>
    </li>
  </ul>
</div>
  



